
.input-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    border: 1px solid #d3d3d3;
    padding: .25rem;
}

.text-box {
    border: none;
    font-size: .8rem;
    padding: .5rem;
}
  
.go-button {
    border: 1px solid #d3d3d3;
    background:#e6e6e6;
    color:#405C78;
    cursor: pointer;
    width: 2.5rem;
}

.go-button:hover {
    background:#bfbfbf;
}