
.sidebar {
    position: fixed;
    z-index: 1;
    width: 400px;
    height: 100%;
    top: 3rem;
    left: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    overflow-y: auto;
    background-color: white;
    transition-duration: 1.5s;
}

.close {
  -webkit-transform: translate(-400px);
  transform: translate(-400px);
  transition-duration: 1.5s;
}

@media (max-width: 600px) {
  .sidebar-mb {
    width: 100%;
  }
}