<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
	<meta name='viewport' content='width=device-width, user-scalable=no'>
	<title>Eval. Economica</title>

<!--  ==================== LOCAL ==================  -->
    <link rel="stylesheet" href="lib/bootstrap_335.min.css">
    <link rel="stylesheet" href="lib/font-awesome_430.min.css">
    <script src="lib/jquery_321.min.js"></script>
    <script src="lib/bootstrap_337.min.js"></script>
    <script src="lib/vue_2517.js"></script>
	<script type='text/javascript' src='lib/libBase64.js'></script>

	<link rel="stylesheet" href="css/vueModal.css">

	<script type='module' src='js/evalEconomica.js'></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Evaluación económica</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li ><a href="javascript:goPag('DASH')">Inicio</a></li>
	      <li class="active"><a href="javascript:goPag('CULTS')">Cultivos</a></li>

		      <li class="dropdown">
		        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Evaluación
		        <span class="caret"></span></a>
		        <ul class="dropdown-menu">
							<li><a href="javascript:goIncompatibles()">Incompatibilidades</a></li>
							<li><a href="javascript:goRotaciones()">Rotaciones</a></li>
							<li><a href="javascript:goCuaderno()">Cuaderno</a></li>
		        </ul>
		      </li>

	    </ul>

	    <ul class="nav navbar-nav navbar-right">
	      <li class="dropdown">
	        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user">&nbsp;</i><span id="usrMenu"> User</span>
	        <span class="caret"></span></a>
	        <ul class="dropdown-menu">
	          <li><a href="javascript:cambiaPwdUser()">Cambiar password</a></li>
	          <li><a href="javascript:cierraSesion()">Cerrar sesión</a></li>
	        </ul>
	      </li>
	    </ul>
	  </div>
	</nav> 

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="divCalcs" style="border:2px gray solid;margin:8px">
					<table v-if="items.length > 0" class="table">
						<thead>
							<tr>
								<th  v-for="head in heads" >{{head}}</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(item,idx) in items" >
								<td>{{item.planta}}</td>
								<td>{{item.bancal}}</td>
								<td>{{item.sup}}</td>
								<td>{{item.marco}}</td>
								<td>{{item.uds}}</td>
								<td>{{item.coste}}</td>
								<td><b>{{item.gastos}}</b></td>
								<td><b>{{item.labor}}</b></td>
								<td>{{item.rendm}}</td>
								<td>{{item.venta}}</td>
								<td><b>{{item.ventas}}</b></td>
								<td style="color:blue"><b>{{item.benef}}</b></td>
							</tr>
						</tbody>
					</table>
					<span v-else>No hay Calculos aún ...</span>
				</div>
			</div>  <!-- md-12 -->
		</div> <!-- row -->
	</div> <!-- container -->
	<div id="appModal"></div>

</body>
</html>