
header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 3rem;
    background-color: rgb(51, 102, 153);
    color: white;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

header > div {
    margin: 0 1rem 0 1rem;
}

header .header-items {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: baseline;
    align-items: baseline;
}

@media (max-width: 600px) {
  header .header-title {
     display: none;
  }
}