<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
	<meta tag='viewport' content='width=device-width, item-scalable=no'>
	<title>Explotación</title>

	<!--  ==================== Librerias externas ==================== -->
	<link rel="stylesheet" href="lib/bootstrap_335.min.css">
	<link rel="stylesheet" href="lib/font-awesome_430.min.css">

	<script type='text/javascript' src="lib/jquery_321.min.js"></script>
	<script type='text/javascript' src="lib/bootstrap_337.min.js"></script>
	<script type='text/javascript' src="lib/vue_2517.js"></script>
	<script type='text/javascript' src='lib/libBase64.js'></script>

	<link rel="stylesheet" href="css/vueModal.css">
	<style type="text/css">
	.item {
		cursor: pointer;
	}
	ul {
		padding-left: 2em;
		line-height: 1.5em;
		list-style-type: none;
	}
	</style>


	<script type='module' src='js/explotacion.js'></script>

<title>Inventario</title>

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Explotación</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="javascript:goPag('DASH')">Inicio</a></li>
				<li class="active"><a href="javascript:showCCPAE()">CCPAE</a></li>
				<li class="active"><a href="javascript:showInventario()">Inventario</a></li>
				<li class="active"><a href="javascript:regenera()">Regenera</a></li>



			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user">&nbsp;</i><span id="usrMenu"> User</span>
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="javascript:cambiaPwdUser()">Cambiar password</a></li>
						<li><a href="javascript:cierraSesion()">Cerrar sesión</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav> 


<div class="container">
<div class="row">

<div class="col-md-12">
<!-- the demo root element -->
<ul id="explotacion">
	<item class="item" :model="treeData"> </item>
</ul>
</div> <!-- col-md-10 -->

</div> <!--row -->
</div> <!-- container -->

<script type="text/x-template" id="item-template">
	<li style =" margin-top:2px;border-left:1px solid gray">
		<div>
			<span	@click="toggle" class="btn btn-info btn-xs" v-if="isFolder && open"><i class="fa fa-minus"></i></span>
			<span	@click="toggle" class="btn btn-info btn-xs" v-else-if="isFolder && !open"><i class="fa fa-plus"></i></span>
			 <b>{{ model.tag }}	</b> {{ model.descrip }}
			<span class="btn btn-warning btn-xs pull-right"	@click="editItem"><i class="fa fa-pencil"></i></span>
		</div>
		<ul v-show="open" v-if="isFolder">
			<item
				class="item"
				v-for="(model, index) in model.hijos"
				:key="index"
				:model="model">
			</item>
			<li class="btn btn-default btn-xs " @click="addChild()">+</li>
		</ul>
	</li>
</script>

	<!-- appModal -->
	<div id="appModal">
		<modal v-bind:clase="modo" v-if="show" @close="show = false" @graba="graba()" @borra="borra()">
			<h3 slot="header">{{conds.retol}}</h3>

		<div slot="body">
				<form	v-if="edit_t === 'USER'" class="form">
					<input class="form-control" v-model="item.tag" type="text" name="usr"	placeholder="Usuario">
					<span class="error" v-if="(!conds.valid.tag.ok)">{{conds.valid.tag.txt}}</span>
					<input class="form-control" v-model="item.obj.pwd" type="text" name="pwd" placeholder="Password">
					<span class="error" v-if="(!conds.valid.pwd.ok)">{{conds.valid.pwd.txt}}</span>
					<input class="form-control" v-model="item.obj.conf" type="text" name="conf" placeholder="Confirmac.">
					<span class="error" v-if="(!conds.valid.conf.ok)">{{conds.valid.conf.txt}}</span>
				</form>

			<form v-else-if="edit_t === 'NODO'" class="form">
				<input class="form-control" v-model="item.tag" type="text" name="tag" placeholder="Tag">
				<input v-if="item.hijos.length == 0"	class="btn btn-default" type="button" value="+ Hijo" onclick = "javascript:addNuevoHijo()">
			</form>
			<form v-else-if="edit_t === 'EXPLT'" class="form">
				<input class="form-control" v-model="item.tag" type="text" name="tag" placeholder="Tag">
				<span class="error" v-if="(!conds.valid.tag.ok)">{{conds.valid.tag.txt}}</span>
			</form>
			<form v-else-if="edit_t === 'REG00'" class="form">
				<input class="form-control" v-model="item.tag" type="text" name="tag" placeholder="Tag">
				<span class="error" v-if="(!conds.valid.tag.ok)">{{conds.valid.tag.txt}}</span>
				<input class="form-control" v-model="item.obj.nom" type="text" name="nom" placeholder="nom">
				<input class="form-control" v-model="item.obj.nif" type="text" name="nif" placeholder="nif">
				<input class="form-control" v-model="item.obj.reg" type="text" name="reg" placeholder="reg">
			</form>
			<form v-else-if="edit_t === 'REG01A'" class="form">
				<input class="form-control" v-model="item.tag" type="text" name="tag" placeholder="Tag">
				<span class="error" v-if="(!conds.valid.tag.ok)">{{conds.valid.tag.txt}}</span>
				<input class="form-control" v-model="item.obj.orden" type="text" name="orden" placeholder="orden">
				<input class="form-control" v-model="item.obj.nombre" type="text" name="nombre" placeholder="nombre">
				<input class="form-control" v-model="item.obj.nif" type="text" name="nif" placeholder="nif">
				<input class="form-control" v-model="item.obj.carnet" type="text" name="carnet" placeholder="carnet">
				<input class="form-control" v-model="item.obj.nivel" type="text" name="nivel" placeholder="nivel">
			</form>
			<form v-else-if="edit_t === 'REG01B'" class="form">
				<input class="form-control" v-model="item.tag" type="text" name="tag" placeholder="Tag">
				<span class="error" v-if="(!conds.valid.tag.ok)">{{conds.valid.tag.txt}}</span>
				<input class="form-control" v-model="item.obj.orden" type="text" name="orden" placeholder="orden">
				<input class="form-control" v-model="item.obj.nombre" type="text" name="nombre" placeholder="nombre">
				<input class="form-control" v-model="item.obj.nif" type="text" name="nif" placeholder="nif">
				<input class="form-control" v-model="item.obj.carnet" type="text" name="carnet" placeholder="carnet">
				<input class="form-control" v-model="item.obj.nivel" type="text" name="nivel" placeholder="nivel">
			</form>
			<form v-else-if="edit_t === 'REG01C'" class="form">
				<input class="form-control" v-model="item.tag" type="text" name="tag" placeholder="Tag">
				<span class="error" v-if="(!conds.valid.tag.ok)">{{conds.valid.tag.txt}}</span>
				<input class="form-control" v-model="item.obj.orden" type="text" name="orden" placeholder="orden">
				<input class="form-control" v-model="item.obj.nombre" type="text" name="nombre" placeholder="nombre">
				<input class="form-control" v-model="item.obj.nif" type="text" name="nif" placeholder="nif">
				<input class="form-control" v-model="item.obj.carnet" type="text" name="carnet" placeholder="carnet">
			</form>
			<form v-else-if="edit_t === 'REG01D'" class="form">
				<input class="form-control" v-model="item.tag" type="text" name="tag" placeholder="Tag">
				<span class="error" v-if="(!conds.valid.tag.ok)">{{conds.valid.tag.txt}}</span>
				<input class="form-control" v-model="item.obj.orden" type="text" name="orden" placeholder="orden">
				<input class="form-control" v-model="item.obj.tipus" type="text" name="tipus" placeholder="tipus">
				<input class="form-control" v-model="item.obj.fecha" type="text" name="fecha" placeholder="fecha">
				<input class="form-control" v-model="item.obj.nROMA" type="text" name="nROMA" placeholder="nROMA">
				<input class="form-control" v-model="item.obj.fInsp" type="text" name="fInsp" placeholder="fInsp">
			</form>
			<form v-else-if="edit_t === 'REG01E'" class="form">
				<input class="form-control" v-model="item.tag" type="text" name="tag" placeholder="Tag">
				<span class="error" v-if="(!conds.valid.tag.ok)">{{conds.valid.tag.txt}}</span>
				<input class="form-control" v-model="item.obj.orden" type="text" name="orden" placeholder="orden">
				<input class="form-control" v-model="item.obj.tipus" type="text" name="tipus" placeholder="tipus">
				<input class="form-control" v-model="item.obj.fecha" type="text" name="fecha" placeholder="fecha">
				<input class="form-control" v-model="item.obj.nROMA" type="text" name="nROMA" placeholder="nROMA">
				<input class="form-control" v-model="item.obj.fInsp" type="text" name="fInsp" placeholder="fInsp">
			</form>

			<form v-else-if="edit_t === 'TRACTOR'" class="form">
				<input class="form-control" v-model="item.tag" type="text" name="tag" placeholder="Tag">
				<span class="error" v-if="(!conds.valid.tag.ok)">{{conds.valid.tag.txt}}</span>
				<input class="form-control" v-model="item.obj.marca" type="text" name="marca" placeholder="Marca y mod.">
				<input class="form-control" v-model="item.obj.matric" type="text" name="matric" placeholder="Matricula">
			</form>


		</div>
		</modal>
	</div>

</body>
</html>
