<!DOCTYPE html>
<html>
<head>
	<title>Pbas MallaTree</title>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, user-scalable=no'>

	<script type='text/javascript' src="lib/vue_2517.js"></script>

	<!--  ==================== Librerias kernel =====================  -->
	<script type='module' src='js/pbaMallaTree.js'></script>
	<script>


	</script>
</head>

<body>
	<div id="appMalla">
		<div>{{tabla.length}}</div>
		<table>
			<tr v-for="fila in tabla">
				<td v-for="campo in fila">{{campo}}</td>
			</tr>
		</table>

	</div>
</body>
</html>
