<!DOCTYPE html>
<html>
<head>
	<title>Suelo</title>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
	<meta name='viewport' content='width=device-width, user-scalable=no'>

	<!--  ==================== Librerias externas ==================== -->
	<link rel="stylesheet" href="lib/bootstrap_335.min.css">
	<link rel="stylesheet" href="lib/font-awesome_430.min.css">

	<script type='text/javascript' src="lib/jquery_321.min.js"></script>
	<script type='text/javascript' src="lib/bootstrap_337.min.js"></script>
	<script type='text/javascript' src="lib/vue_2517.js"></script>
	<script type='text/javascript' src='lib/libBase64.js'></script>

	<link rel="stylesheet" href="css/vueModal.css">

	<script type='module' src='js/suelo.js'></script>
</head>

<body>
	<nav  id="divMenu" class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<span id="BRAND">Suelo**</span>
			</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active">
				<a href="javascript:goPag('DASH')">
					<span id="INICIO">Inicio**</span>
				</a>
			</li>
			<li><a href="http://geojson.io/#map=19/42.07797/1.75315" target="_blank">Geo JSON</a></li>
			<li><a href="http://sig.gencat.cat/visors/Cultius_DUN_SIGPAC.html"  target="_blank">DUN SIGPAC</a></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<span id="MODULS">Módulos**</span>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="javascript:goPag('PLANTAS')">
							<span id="PLANT">Plantas**</span>
						</a>
					</li>
					<li>
						<a href="javascript:goPag('CULTS')">
							<span id="CULT">Cultivos**</span>
						</a>
					</li>
					<li>
						<a href="javascript:goPag('MATRIZ')">
							<span id="MATRIZ">Matrices**</span>
						</a>
					</li>
					<li>
						<a href="javascript:goPag('CUADERNO')">
							<span id="QUAD">Cuaderno**</span>
						</a>
					</li>
	        </ul>
	      </li>

	    </ul>

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="fa fa-user">&nbsp;</i>
						<span id="usrMenu"> User</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="javascript:cambiaPwdUser()">
								<span id="CHPWD" >Cambiar password**</span>
							</a>
						</li>
						<li>
							<a href="javascript:cierraSesion()">
								<span id="EXIT">Cerrar sesión**</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
	</nav> 
<!-- Fin del menu --------------------------------------------------->

	<div id="pagSuelo" class="container">
		<div class="row">
	
			<div class="col-md-4">
				<h3 id="H3FINCA" style="display:inline-block">Fincas</h3>
				<button @click="nuevaFinca()" class="btn btn-success pull-right btn-mas"><i class="fa fa-plus"> </i></button>

				<form class="form">
					<select  v-model="fincas.idAct">
						<option class="form-control" @click="getUnaFinca(item._id)" v-for="item in fincas.items" v-bind:value="item._id">
							{{ item.meta.tag }} ({{item.meta.org}})
						</option>
					</select>
				</form>

				<div v-if="fincas.infoFinca" style="border:2px gray solid;margin:8px">
						<h4  style="display:inline-block;padding:4px"> {{fincas.infoFinca.tag}} ({{fincas.infoFinca.obj.codFinca}})</h4>
						<span class="pull-right" style="padding:4px">
						<button @click="goMapaFinca()" class="btn btn-success"><i class="fa fa-globe"> </i></button>
						<button v-if="tabsGeo.tabAct === 1" @click="impGeoFinca()" class="btn btn-success"><i class="fa fa-sign-in"> </i></button>
						<button v-if="tabsGeo.tabAct === 2" @click="expGeoFinca()" class="btn btn-success"><i class="fa fa-sign-out"> </i></button>
						<button @click="editInfoFinca()" class="btn btn-success"><i class="fa fa-pencil"> </i></button>
						</span>
						<br>
						<span> {{fincas.infoFinca.obj.descripc}}</span><br>
						<span> {{fincas.infoFinca.obj.area}}</span><br>
						<span> {{fincas.infoFinca.obj.lon}}</span><br>
						<span> {{fincas.infoFinca.obj.lat}}</span><br>
				</div>
				<div id="NOFINCA" v-else>No hay Finca seleccionada**</div>

			<div>
			  <ul class="nav nav-tabs">
			    <li  @click="tabClick(1)" class="active"><a id="tab1" data-toggle="tab" href="#tabImp">Import</a></li>
			    <li @click="tabClick(2)"><a id="tab2" data-toggle="tab" href="#tabExp">Export</a></li>
			  </ul>
			</div> <!-- solapas -->

			<div class="tab-content">

		    <div id="tabImp" class="tab-pane fade  in active">
					<form	class="form">
						<textarea class="form-control csvTA" rows="20" v-model="tabsGeo.jsonImp" name="jsonImp"></textarea>
					</form>
				</div> <!-- panel import -->

		    <div id="tabExp" class="tab-pane fade">
					<form	class="form">
						<textarea class="form-control csvTA" rows="20" v-model="tabsGeo.jsonExp" name="jsonExp"></textarea>
					</form>
				</div> <!-- panel export -->
			</div> <!-- Tab content -->

			</div> <!-- md4 -->

			<div class="col-md-8">
				<div id="h3Zonas">
					<h3 id="H3ZONA" v-if="fincas.infoFinca" style="display:inline-block">{{zonas.tag}}<b>{{fincas.infoFinca.tag}}</b></h3>
					<button @click="creaZona()" class="btn btn-success pull-right btn-mas" ><i class="fa fa-plus"> </i></button>
				</div>
				<div style="border:2px gray solid;margin:8px">
					<table v-if="zonas.items.length > 0" class="table">
						<tr v-for="item in zonas.items" >
							<td v-on:click.stop="showBancales(item.id0)">{{item.tag}}</td>
							<td>{{item.obj.codZona}}</td>
							<td>{{item.obj.area}}</td>
							<td style="text-align: right;">
								<span class="pull-right">
								<button v-if="tabsGeo.tabAct === 1" @click="impGeoZona(item.id0)" class="btn btn-success"><i class="fa fa-sign-in"> </i></button>
								<button v-if="tabsGeo.tabAct === 2" @click="expGeoZona(item.id0)" class="btn btn-success"><i class="fa fa-sign-out"> </i></button>
								<button @click="editZona(item.id0)" class="btn btn-success"><i class="fa fa-pencil"> </i></button>
								</span>
							</td>
						</tr>
					</table>
					<span id="NOZONA" v-else>No hay Zonas de esta Finca**</span>
				</div>

				<div id="h3Bancales">
					<h3 id="H3BANC" style="display:inline-block">{{feixes.tag}}<b>{{feixes.tagZona}}</b></h3>
					<button @click="creaBancal()" class="btn btn-success pull-right btn-mas" ><i class="fa fa-plus"> </i></button>
				</div>
				<div id="divBancales" style="border:2px gray solid;margin:8px">
					<table v-if="feixes.items.length > 0" class="table">
						<tr v-for="item in feixes.items" >
							<td>{{item.tag}}</td>
							<td>{{item.obj.codBancal}}</td>
							<td>{{item.obj.area}}</td>
							<td>{{item.obj.sigpac}}</td>
							<td style="text-align: right;">
								<button v-if="item.obj.apoyos_id" class="btn btn-success" @click="goApoyos(item.obj.apoyos_id)" ><i class="fa fa-tree"> </i></button>
								<button class="btn btn-edit" @click="editBancal(item.id0)"><i class="fa fa-pencil"></i></button>
							</td>
						</tr>
					</table>
					<span id="NOBANCAL" v-else>No hay Bancales de esta Zona**</span>
				</div>


			</div> <!-- md8 -->

		</div> <!-- row -->
	</div> <!-- container -->

	<div id="appModal">
		<modal v-bind:clase="modo" v-if="show" @close="show = false" @graba="graba()" @borra="borra()">
			<h3 slot="header">{{conds.retol}}</h3>
			<div slot="body">
				<form	v-if="edit_t === 'USER'" class="form">
					<input class="form-control" v-model="item.tag" type="text" name="usr"	placeholder="Usuario">
					<span class="error" v-if="(!conds.valid.tag.ok)">{{conds.valid.tag.txt}}</span>
					<input class="form-control" v-model="item.obj.pwd" type="text" name="pwd" placeholder="Password">
					<span class="error" v-if="(!conds.valid.pwd.ok)">{{conds.valid.pwd.txt}}</span>
					<input class="form-control" v-model="item.obj.conf" type="text" name="conf" placeholder="Confirmac.">
					<span class="error" v-if="(!conds.valid.conf.ok)">{{conds.valid.conf.txt}}</span>
				</form>

				<form	v-if="edit_t === 'INFOFINCA'" class="form">
					<input class="form-control" v-model="item.tag" type="text" name="tag"	placeholder="Tag">
					<span class="error" v-if="(!conds.valid.tag.ok)">{{conds.valid.tag.txt}}</span>
					<input class="form-control" v-model="item.obj.codFinca" type="text" name="codFinca" placeholder="Código">
					<span class="error" v-if="(!conds.valid.codFinca.ok)">{{conds.valid.codFinca.txt}}</span>
					<input class="form-control" v-model="item.obj.descripc" type="text" name="descr" placeholder="Descripc">
					<span class="error" v-if="(!conds.valid.descripc.ok)">{{conds.valid.descripc.txt}}</span>
					<input class="form-control" v-model="item.obj.area" type="text" name="area" placeholder="Area">
					<span class="error" v-if="(!conds.valid.area.ok)">{{conds.valid.area.txt}}</span>
					<input class="form-control" v-model="item.obj.lat" type="text" name="lat" placeholder="Latitud">
					<span class="error" v-if="(!conds.valid.lat.ok)">{{conds.valid.lat.txt}}</span>
					<input class="form-control" v-model="item.obj.lon" type="text" name="lon" placeholder="Longitud">
					<span class="error" v-if="(!conds.valid.lon.ok)">{{conds.valid.lon.txt}}</span -->
				</form>

				<form	v-if="edit_t === 'ZONA'" class="form">
					<input class="form-control" v-model="item.tag" type="text" name="tag"	placeholder="Tag">
					<span class="error" v-if="(!conds.valid.tag.ok)">{{conds.valid.tag.txt}}</span>
					<input class="form-control" v-model="item.obj.codZona" type="text" name="codZona" placeholder="Código">
					<span class="error" v-if="(!conds.valid.codZona.ok)">{{conds.valid.codZona.txt}}</span>
					<input class="form-control" v-model="item.obj.area" type="text" name="area" placeholder="Area">
					<span class="error" v-if="(!conds.valid.area.ok)">{{conds.valid.area.txt}}</span>
				</form>

				<form	v-else-if="edit_t === 'BANCAL'" class="form">
					<input class="form-control" v-model="item.tag" type="text" name="tag"	placeholder="Alias">
					<span class="error" v-if="(!conds.valid.tag.ok)">{{conds.valid.tag.txt}}</span>
					<input class="form-control" v-model="item.obj.codBancal" type="text" name="Código"	placeholder="Codigo">
					<span class="error" v-if="(!conds.valid.codBancal.ok)">{{conds.valid.codBancal.txt}}</span>
					<input class="form-control" v-model="item.obj.area" type="text" name="area"	placeholder="Superficie">
					<span class="error" v-if="(!conds.valid.area.ok)">{{conds.valid.area.txt}}</span>
					<input class="form-control" v-model="item.obj.sigpac" type="text" name="sigpac"	placeholder="Ref Sigpac">
					<span class="error" v-if="(!conds.valid.sigpac.ok)">{{conds.valid.sigpac.txt}}</span>
					<input class="form-control" type="button" value="Crear Apoyos" onclick="creaApoyos()">
					<input class="form-control" type="button" value="Borrar Apoyos" onclick="borraApoyos()">
				</form>

			</div>
		</modal>
	</div> <!-- appEdit -->

</body>
</html>
