<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name='viewport' content='width=device-width, user-scalable=no'>
	<title>Grafo tareas</title>
	<!--  ==================== Librerias externas ==================== -->
	<link rel="stylesheet" href="lib/bootstrap_335.min.css">
	<link rel="stylesheet" href="lib/font-awesome_430.min.css">

	<script type='text/javascript' src="lib/jquery_321.min.js"></script>
	<script type='text/javascript' src="lib/bootstrap_337.min.js"></script>
	<script type='text/javascript' src="lib/vue_2517.js"></script>
	<script type='text/javascript' src='lib/libBase64.js'></script>

	<link rel="stylesheet" href="css/vueModal.css">

	<script type='module' src='js/tasksGrafo.js'></script>

	<style>
		#divBase {
			position: absolute;
			left: 20px;
			top: 180px;
			width: 95%; 
			height: 600px;
			border: 2px maroon solid;
		}
		.nDrag {
			position: absolute;
			text-align: center;
			border: none;
			border-radius: 8px;
			cursor: move;
			background-color:#dddddd;
			overflow : hidden;
			-webkit-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			-ms-user-select: none;
			-khtml-user-select: none;	 
			user-select: none;
		}

		.nDrag > span {
 			display: inline-block;
			vertical-align: middle;
			line-height: normal;
			cursor: normal;
		}

		.Task {
			position: absolute;
			padding: 5px;
			text-align: center;
			border-radius: 8px;
			border: none;
			cursor: move;
			background-color:#abcdef;
			overflow : hidden;
			-webkit-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			-ms-user-select: none;
			-khtml-user-select: none;	 
			user-select: none;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Grafo tasks</a>
		</div>
		<ul class="nav navbar-nav">
		  <li><a href="javascript:goHome()">Inicio</a></li>

				<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Módulos
				<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="javascript:goZonas()">Zonas</a></li>
						<li><a href="javascript:goPlantas()">Plantas</a></li>
						<li><a href="javascript:goEscenarios()">Cultivos</a></li>
						<li><a href="javascript:goTasksGantt()">Gantt</a></li>
					</ul>
				</li>
			<li class="active"><button type="button" onclick="updateTasksGrafo()"><i class="fa fa-save"></i></button></li>

		</ul>

		<ul class="nav navbar-nav navbar-right">
		  <li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user">&nbsp;</i><span id="usrMenu"> User</span>
			<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="javascript:cambiaPwdUser()">Cambiar password</a></li>
				<li><a href="javascript:cierraSesion()">Cerrar sesión</a></li>
			</ul>
		  </li>
		</ul>
	  </div>
	</nav> 
	<div class="container">
		<div class="alert alert-warning alert-dismissible" role="alert">
				<p>Ctrl+click en vacío : Nueva task.</p>
				<p>Ctrl+down-mover+up : Nuevo link.</p>
				<p>Mayusc+clik : Edita Task.</p>
		</div>
	</div>
	<div id="divBase"></div>


	<!-- appModal -->
	<div id="appModal">
		<modal v-bind:clase="modo" v-if="show" @close="show = false" @graba="graba()" @borra="borra()">
			<h3 slot="header">{{conds.retol}}</h3>

		<div slot="body">
				<form	v-if="edit_t === 'USER'" class="form">
					<input class="form-control" v-model="item.tag" type="text" name="usr"	placeholder="Usuario">
					<span class="error" v-if="(!conds.valid.tag.ok)">{{conds.valid.tag.txt}}</span>
					<input class="form-control" v-model="item.obj.pwd" type="text" name="pwd" placeholder="Password">
					<span class="error" v-if="(!conds.valid.pwd.ok)">{{conds.valid.pwd.txt}}</span>
					<input class="form-control" v-model="item.obj.conf" type="text" name="conf" placeholder="Confirmac.">
					<span class="error" v-if="(!conds.valid.conf.ok)">{{conds.valid.conf.txt}}</span>
				</form>

			<form	v-else-if="edit_t === 'LINK'" class="form-inline" action="#">
				<div class="form-group">
					<label for="tag">Tag</label>
					<input class="form-control" v-model="item.tag" type="text" name="tag"	placeholder="Alias">
				</div><br>
				<div class="form-group">
					<label for="tag">Gap</label>
					<input class="form-control" v-model="item.obj.gap" type="text" name="gap"	placeholder="Gap">
				</div>

			</form>

			<form	v-else-if="edit_t === 'TASK0'" class="form-inline" action="#">
				<div class="form-group">
					<label for="tag">Tag</label>
					<input class="form-control" v-model="item.tag" type="text" name="tag"	placeholder="Alias">
				</div><br>

				<div class="form-group">
					<label for="ratio">Ratio</label>
					<input class="form-control" v-model="item.obj.ratio" type="text" name="ratio"	placeholder="Ratio">
				</div><br>

				<div class="form-group">
					<label for="apero">Apero</label>
					<input class="form-control" v-model="item.obj.apero" type="text" name="apero" placeholder="Apero">
				</div><br>

				<div class="form-group">
					<label for="coste">Coste</label>
					<input class="form-control" v-model="item.obj.coste" type="text" name="coste" placeholder="Coste">
				</div><br>
			</form>

			<form	v-else-if="edit_t === 'TASK1'" class="form-inline" action="#">
				<div class="form-group">
					<label for="tag">Tag</label>
					<input class="form-control" v-model="item.tag" type="text" name="tag"	placeholder="Alias">
				</div><br>

				<div class="form-group">
					<label for="ratio">Ratio</label>
					<input class="form-control" v-model="item.obj.ratio" type="text" name="ratio"	placeholder="Ratio">
				</div><br>

				<div class="form-group">
					<label for="rato">Duración</label>
					<input class="form-control" v-model="item.obj.fecha.tau" type="text" name="to"	placeholder="Duracion">
				</div><br>
				<div class="form-group">
					<label for="apero">Apero</label>
					<input class="form-control" v-model="item.obj.apero" type="text" name="apero" placeholder="Coste">
				</div><br>

				<div class="form-group">
					<label for="coste">Coste</label>
					<input class="form-control" v-model="item.obj.coste" type="text" name="coste" placeholder="Coste">
				</div><br>
			</form>
		</div>
		</modal>
	</div> <!-- appModal -->


</body>
</html>
