<!DOCTYPE html>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
	<meta name='viewport' content='width=device-width, user-scalable=no'>
	<title>Cuaderno</title>

<!--  ==================== LOCAL ==================  -->
    <link rel="stylesheet" href="lib/bootstrap_335.min.css">
    <link rel="stylesheet" href="lib/font-awesome_430.min.css">
    <script src="lib/jquery_321.min.js"></script>
    <script src="lib/bootstrap_337.min.js"></script>
    <script src="lib/vue_2517.js"></script>


	<link rel="stylesheet" href="css/vueModal.css">
	<style>
	.table {border:3px gray solid;}
	.table > thead {background-color:#efefef;}
	</style>
	<script type='text/javascript' src='lib/libBase64.js'></script>
	<script type='text/javascript' src='k1/libK1_Ajax.js'></script>
	<script type='text/javascript' src='k1/libK1_Random.js'></script>
	<script type='text/javascript' src='k1/libK1_Topol.js'></script>
	<script type='text/javascript' src='k1/libK1_Trazo.js'></script>
	<script type='text/javascript' src='k1/libK1_Clases.js'></script>
	<script type='text/javascript' src='k1/libK1_Utils.js'></script>
	<script type='text/javascript' src='k1/libK1_Tiempo.js'></script>
	<script type='text/javascript' src='k1/libK1_Sesion.js'></script>
	<script type='text/javascript' src='k1/libK1_vApps.js'></script>
	<script type='text/javascript' src='k1/libK1_Idioma.js'></script>

	<script type='text/javascript' src='js/agro_CCPAE.js'></script>
	<script type='text/javascript' src='js/agro_Clases.js'></script>
	<script type='text/javascript' src='js/agro_VGlob.js'></script>
	<script type='text/javascript' src='js/agro_vApps.js'></script>
	<script type='text/javascript' src='js/pkg_Cuaderno.js'></script>
	<script type='text/javascript' src='js/mod_cuaderno.js'></script>


</head>
<body onload="initQuadern()">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Quadern</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><a href="javascript:goHome()">Inicio</a></li>
	      <li class="active"><a href="javascript:showListaQuaderns()">Quaderns</a></li>

			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Módulos
				<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="javascript:goZonas()">Zonas</a></li>
					<li><a href="javascript:goPlantas()">Plantas</a></li>
					<li><a href="javascript:goEscenarios()">Cultivos</a></li>
				</ul>
			</li>

	    </ul>

	    <ul class="nav navbar-nav navbar-right">
	      <li class="dropdown">
	        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user">&nbsp;</i><span id="usrMenu"> User</span>
	        <span class="caret"></span></a>
	        <ul class="dropdown-menu">
	          <li><a href="javascript:cambiaPwdUser()">Cambiar password</a></li>
	          <li><a href="javascript:cierraSesion()">Cerrar sesión</a></li>
	        </ul>
	      </li>
	    </ul>
	  </div>
	</nav> 

	<div class="container">
		<div class="row">
		<div class="col-md-12">
			<div id="h2Campanya">
				<h2 style="display:inline-block">{{tag}}</h2>
				<button @click="nuevoQuadern()" class="btn btn-success pull-right btn-mas"><i class="fa fa-plus"> </i></button>
			</div>

			<div id="solapas">
			  <ul class="nav nav-tabs">
			    <li class="active"><a id="tab0" data-toggle="tab" href="#tabReg00">Portada</a></li>
			    <li><a id="tab01" data-toggle="tab" href="#tabReg01">Pers/MA</a></li>
			    <li><a id="tab02" data-toggle="tab" href="#tabReg02">Parcel·les</a></li>
			    <li><a id="tab03" data-toggle="tab" href="#tabReg03">Treballs</a></li>
			    <li><a id="tab04" data-toggle="tab" href="#tabReg04">Tract FS</a></li>
			    <li><a id="tab05" data-toggle="tab" href="#tabReg05">Altres TFS</a></li>
			    <li><a id="tab06" data-toggle="tab" href="#tabReg06">Residus</a></li>
			    <li><a id="tab07" data-toggle="tab" href="#tabReg07">Compres</a></li>
			    <li><a id="tab08" data-toggle="tab" href="#tabReg08">Vendes</a></li>
			    <li><a id="tab09" data-toggle="tab" href="#tabReg09">Totals</a></li>
			    <li><a id="tab10" data-toggle="tab" href="#tabReg10">Incidènc</a></li>
			    <li><a id="tab11" data-toggle="tab" href="#tabReg11">Reclam</a></li>
			  </ul>
			</div> <!-- solapas -->

			<div class="tab-content">

		    <div id="tabReg00" class="tab-pane fade  in active">
					<div id="h3Portada">
						<h4>Portada</h3>
					</div>
					<div id="divReg00">
						<table v-if="items.length > 0" class="table table-bordered">
							<thead>
								<tr>
									<th style="width:60%">TITULAR DE L'EXPLOTACIÓ: Nom i cognoms / Empresa</th>
									<th style="width:15%" class="text-center">NIF</th>
									<th style="width:20%" class="text-center">Número Registre CCPAE</th>
									<th style="width:5%" class="text-center"></th>
								</tr>
							</thead>
							<tbody>
							<tr v-for="item in items" >
								<!-- td v-if="item.tag === 'Titular'">{{item.tag}}</td -->
								<td v-if="item.tag === 'Titular'">{{item.obj.nom}}</td>
								<td v-if="item.tag === 'Titular'">{{item.obj.nif}}</td>
								<td v-if="item.tag === 'Titular'">CT/{{item.obj.reg}}/T</td>
								<td v-if="item.tag === 'Titular'" style="text-align: right;">
									<button class="btn btn-edit" v-on:click.stop="editReg(item.id0)"><i class="fa fa-pencil"></i></button>
								</td>
							</tr>
							<tbody>
						</table>

						<table v-if="items.length > 0" class="table table-bordered">
							<thead>
								<tr>
									<th style="width:60%">Assessor, agrupació o entitat d'assessorament a la qual pertany l'explotació</th>
									<th style="width:15%"  class="text-center">NIF</th>
									<th style="width:20%"  class="text-center">Número inscripció al Registre</th>
									<th style="width:5%"  class="text-center"></th>
								</tr>
							</thead>
							<tbody>
							<tr v-for="item in items" >
								<!-- td v-if="item.tag === 'Assesor'">{{item.tag}}</td -->
								<td v-if="item.tag === 'Assesor'">{{item.obj.nom}}</td>
								<td v-if="item.tag === 'Assesor'">{{item.obj.nif}}</td>
								<td v-if="item.tag === 'Assesor'">{{item.obj.reg}}</td>
								<td v-if="item.tag === 'Assesor'" style="text-align: right;">
									<button class="btn btn-edit" v-on:click.stop="editReg(item.id0)"><i class="fa fa-pencil"></i></button>
								</td>
							</tr>
							</tbody>
						</table>
					</div> <!-- #Reg00 -->
				</div> <!-- panel Reg00 -->

		    <div id="tabReg01" class="tab-pane fade">
					<div id="h3Reg01">
						<h4  style="display:inline-block">1. Relació de personal i maquinària de tractaments.</h3>
					</div>
					<div id="divReg01A" >
						<span>A - Personal de la pròpia explotació que fa aplicacions amb productes fitosanitaris</span>
						<table v-if="items.length > 0" class="table table-bordered">
							<thead>
								<tr>
									<th style="width:5%"  class="text-center">Número d'ordre</th>
									<th style="width:45%"  class="text-center">Nom y cognoms</th>
									<th style="width:15%"  class="text-center">NIF</th>
									<th style="width:15%"  class="text-center">Número de carnet d'aplicador i manipulador</th>
									<th style="width:15%"  class="text-center">Nivell de qualificació</th>

									<th style="width:5%"  class="text-center">
						<button @click="addReg()" class="btn btn-success pull-right btn-mas"><i class="fa fa-plus"> </i></button>
									</th>
								</tr>
							</thead>
							<tbody>
							<tr v-for="item in items" >
								<!--td>{{item.tag}}</td -->
								<td class="text-center">{{item.obj.orden}}</td>
								<td>{{item.obj.nombre}}</td>
								<td>{{item.obj.nif}}</td>
								<td>{{item.obj.carnet}}</td>
								<td>{{item.obj.nivel}}</td>
								<td style="text-align: right;">
									<button class="btn btn-edit" v-on:click.stop="editReg(item.id0)"><i class="fa fa-pencil"></i></button>
								</td>
							</tr>
							</tbody>
						</table>
					</div> <!-- #Reg01A -->

					<div id="divReg01B" >
						<span>B - Personal contractat que fa aplicacions amb productes fitosanitaris</span>
						<table v-if="items.length > 0" class="table table-bordered">
							<thead>
								<tr>
									<th style="width:5%"  class="text-center">Número d'ordre</th>
									<th style="width:45%"  class="text-center">Nom y cognoms</th>
									<th style="width:15%"  class="text-center">NIF</th>
									<th style="width:15%"  class="text-center">Número de carnet d'aplicador i manipulador</th>
									<th style="width:15%"  class="text-center">Nivell de qualificació</th>
									<th style="width:5%"  class="text-center">
						<button @click="addReg()" class="btn btn-success pull-right btn-mas"><i class="fa fa-plus"> </i></button>
									</th>
								</tr>
							</thead>
							<tbody>
							<tr v-for="item in items" >
								<!-- td>{{item.tag}}</td -->
								<td class="text-center">{{item.obj.orden}}</td>
								<td>{{item.obj.nombre}}</td>
								<td>{{item.obj.nif}}</td>
								<td>{{item.obj.carnet}}</td>
								<td>{{item.obj.nivel}}</td>
								<td style="text-align: right;">
									<button class="btn btn-edit" v-on:click.stop="editReg(item.id0)"><i class="fa fa-pencil"></i></button>
								</td>
							</tr>
							</tbody>
						</table>
					</div> <!-- #Reg01B -->

					<div id="divReg01C" >
						<span>C - Empreses de serveis o de tractaments que fan aplicacions amb productes fitosanitaris</span>
						<table v-if="items.length > 0" class="table table-bordered">
							<thead>
								<tr>
									<th style="width:5%"  class="text-center">Número d'ordre</th>
									<th style="width:45%"  class="text-center">Nom y cognoms</th>
									<th style="width:15%"  class="text-center">NIF</th>
									<th style="width:30%"  class="text-center">Número d'inscripció al Registre</th>
									<th style="width:5%"  class="text-center">
						<button @click="addReg()" class="btn btn-success pull-right btn-mas"><i class="fa fa-plus"> </i></button>
									</th>
								</tr>
							</thead>
							<tr v-for="item in items" >
								<!-- td>{{item.tag}}</td -->
								<td class="text-center">{{item.obj.orden}}</td>
								<td>{{item.obj.nombre}}</td>
								<td>{{item.obj.nif}}</td>
								<td>{{item.obj.carnet}}</td>
								<td style="text-align: right;">
									<button class="btn btn-edit" v-on:click.stop="editReg(item.id0)"><i class="fa fa-pencil"></i></button>
								</td>
							</tr>
							</tbody>
						</table>
					</div> <!-- #Reg01C -->

					<div id="divReg01D" >
						<span>D - Maquinària de tractaments de la explotació</span>
						<table v-if="items.length > 0" class="table table-bordered">
							<thead>
								<tr>
									<th style="width:5%"  class="text-center">Número d'ordre</th>
									<th style="width:45%"  class="text-center">Tipus de maquinària de tractaments</th>
									<th style="width:15%"  class="text-center">Data de compra</th>
									<th style="width:15%"  class="text-center">Número d'inscripció al ROMA</th>
									<th style="width:15%"  class="text-center">Data darrera inspecció</th>
									<th style="width:5%"  class="text-center">
						<button @click="addReg()" class="btn btn-success pull-right btn-mas"><i class="fa fa-plus"> </i></button>
									</th>
								</tr>
							</thead>
							<tr v-for="item in items" >
								<!-- td>{{item.tag}}</td -->
								<td class="text-center">{{item.obj.orden}}</td>
								<td>{{item.obj.tipus}}</td>
								<td>{{item.obj.fecha}}</td>
								<td>{{item.obj.nROMA}}</td>
								<td>{{item.obj.fInsp}}</td>
								<td style="text-align: right;">
									<button class="btn btn-edit" v-on:click.stop="editReg(item.id0)"><i class="fa fa-pencil"></i></button>
								</td>
							</tbody>
							</tr>
						</table>
					</div> <!-- #Reg01D -->

					<div id="divReg01E" >
						<span>E - Maquinària de tractaments llogada</span>
						<table v-if="items.length > 0" class="table table-bordered">
							<thead>
								<tr>
									<th style="width:5%"  class="text-center">Número d'ordre</th>
									<th style="width:45%"  class="text-center">Tipus de maquinària de tractaments</th>
									<th style="width:15%"  class="text-center">Data de compra</th>
									<th style="width:15%"  class="text-center">Número d'inscripció al ROMA</th>
									<th style="width:15%"  class="text-center">Data darrera inspecció</th>
									<th style="width:5%"  class="text-center">
						<button @click="addReg()" class="btn btn-success pull-right btn-mas"><i class="fa fa-plus"> </i></button>
									</th>
								</tr>
							</thead>
							<tr v-for="item in items" >
								<!-- td>{{item.tag}}</td -->
								<td class="text-center">{{item.obj.orden}}</td>
								<td>{{item.obj.tipus}}</td>
								<td>{{item.obj.fecha}}</td>
								<td>{{item.obj.nROMA}}</td>
								<td>{{item.obj.fInsp}}</td>
								<td style="text-align: right;">
									<button class="btn btn-edit" v-on:click.stop="editReg(item.id0)"><i class="fa fa-pencil"></i></button>
								</td>
							</tr>
							</tbody>
						</table>
					</div> <!-- #Reg01E -->

				</div> <!-- panel Reg01 -->


		    <div id="tabReg02" class="tab-pane fade">
					<div id="h3Reg02">
						<h4  style="display:inline-block">2. Identificació de les parcel·les de cultiu ecològic.</h3>
					</div>
					<div id="divReg02" >
						<table v-if="items.length > 0" class="table table-bordered">
							<thead>
								<tr>
 									<th rowspan="2" style="width:5%"  class="text-center">Número finca</th>
									<th colspan="5" scope="colgroup" class="text-center">Identificació SIGPAC</th>
									<th rowspan="2" style="width:25%"  class="text-center">Cultiu<br>(Espècie i varietat)</th>
									<th rowspan="2" style="width:5%"  class="text-center">Superfície (ha)</th>
									<th colspan="2" scope="colgroup"  class="text-center">Sistema Conreu</th>
									<th rowspan="2" style="width:5%"  class="text-center">Vinya: Número RVC</th>
									<th rowspan="2" style="width:5%"  class="text-center">
						<button @click="addReg()" class="btn btn-success pull-right btn-mas"><i class="fa fa-plus"> </i></button>
									</th>
								</tr>

								<tr>
									<th style="width:25%"  class="text-center">Municipi</th>
									<th style="width:5%"  class="text-center">Polígon</th>
									<th style="width:5%"  class="text-center">Parcel·la</th>
									<th style="width:5%"  class="text-center">Recinte(s)</th>
									<th style="width:5%"  class="text-center">Ús</th>
									<th style="width:5%"  class="text-center">3.1</th>
									<th style="width:5%"  class="text-center">3.2</th>

								</tr>
							</thead>
							<tr v-for="item in items" >
								<!-- td>{{item.tag}}</td -->
								<td>{{item.obj.orden}}</td>
								<td>{{item.obj.sigpac.munic}}</td>
								<td>{{item.obj.sigpac.polig}}</td>
								<td>{{item.obj.sigpac.parce}}</td>
								<td>{{item.obj.sigpac.recin}}</td>
								<td>{{item.obj.sigpac.uso}}</td>
								<td>{{item.obj.cultiu}}</td>
								<td>{{item.obj.superf}}</td>
								<td>{{item.obj.sistem.s31}}</td>
								<td>{{item.obj.sistem.s32}}</td>
								<td>{{item.obj.vinya}}</td>
								<td style="text-align: right;">
									<button class="btn btn-edit" v-on:click.stop="editReg(item.id0)"><i class="fa fa-pencil"></i></button>
								</td>
							</tr>
						</table>
					</div> <!-- #Reg02 -->
				</div> <!-- panel Reg02 -->

		    <div id="tabReg03" class="tab-pane fade">
					<div id="h3Reg03">
						<h4  style="display:inline-block">3. Registres de treballs i adobats</h3>
					</div>
					<div id="divReg03" >
						<table v-if="items.length > 0" class="table table-bordered">
							<thead>
								<tr>
 									<th rowspan="2" style="width:5%"  class="text-center">Data o període</th>
									<th rowspan="2" style="width:5%"  class="text-center">Número de finca</th>
									<th rowspan="2" style="width:25%"  class="text-center">Cultiu<br>(Espècie i varietat)</th>
									<th rowspan="2" style="width:5%"  class="text-center">Superfície (ha)</th>
									<th rowspan="2" style="width:25%"  class="text-center">Treballs del sòl i altres treballs </th>
									<th colspan="4" scope="colgroup" class="text-center">Adobat</th>
									<th rowspan="2" style="width:5%"  class="text-center">
						<button @click="addReg()" class="btn btn-success pull-right btn-mas"><i class="fa fa-plus"> </i></button>
									</th>
								</tr>

								<tr>
									<th style="width:25%"  class="text-center">Nom comercial</th>
									<th style="width:5%"  class="text-center">Composició</th>
									<th style="width:5%"  class="text-center">Quantitat/ha</th>
									<th style="width:5%"  class="text-center">Fert.</th>

								</tr>
							</thead>
							<tr v-for="item in items" >
								<!-- td>{{item.tag}}</td -->
								<td>{{item.obj.fecha}}</td>
								<td>{{item.obj.finca}}</td>
								<td>{{item.obj.cultiu}}</td>
								<td>{{item.obj.superf}}</td>
								<td>{{item.obj.tareas}}</td>
								<td>{{item.obj.adobat.nombre}}</td>
								<td>{{item.obj.adobat.compos}}</td>
								<td>{{item.obj.adobat.cantid}}</td>
								<td>{{item.obj.fertirr}}</td>
								<td style="text-align: right;">
									<button class="btn btn-edit" v-on:click.stop="editReg(item.id0)"><i class="fa fa-pencil"></i></button>
								</td>
							</tr>
						</table>
					</div> <!-- #Reg03 -->
				</div> <!-- panel Reg03 -->

		    <div id="tabReg04" class="tab-pane fade">
					<div id="h3Reg04">
						<h4  style="display:inline-block">4. Tractaments fitosanitaris i altres mètodes de lluita</h3>
					</div>
					<div id="divReg04" >
						<table v-if="items.length > 0" class="table table-bordered">
							<thead>
								<tr>
 									<th rowspan="2" style="width:5%"  class="text-center">Data o període</th>
									<th rowspan="2" style="width:5%"  class="text-center">Número de finca</th>
									<th rowspan="2" style="width:25%"  class="text-center">Cultiu<br>(Espècie i varietat)</th>
									<th rowspan="2" style="width:25%"  class="text-center">Plaga o malaltia a controlar</th>
									<th rowspan="2" style="width:5%"  class="text-center">Superfície (ha)</th>
									<th rowspan="2" style="width:5%"  class="text-center">Núm. Ordre aplicador</th>
									<th rowspan="2" style="width:5%"  class="text-center">Núm. Ordre maquinària</th>
									<th rowspan="2" style="width:5%"  class="text-center">Kg. o litres de brou emprats </th>
									<th colspan="3" scope="colgroup" class="text-center">Productes emprats</th>
									<th rowspan="2" style="width:5%"  class="text-center">Valoració eficàcia</th>
									<th rowspan="2" style="width:5%"  class="text-center">
						<button @click="addReg()" class="btn btn-success pull-right btn-mas"><i class="fa fa-plus"> </i></button>
									</th>
								</tr>

								<tr>
									<th style="width:25%"  class="text-center">Nom comercial i matèria activa</th>
									<th style="width:5%"  class="text-center">Núm. de registre</th>
									<th style="width:5%"  class="text-center">Dosi</th>

								</tr>
							</thead>
							<tr v-for="item in items" >
								<!-- td>{{item.tag}}</td -->
								<td>{{item.obj.fecha}}</td>
								<td>{{item.obj.finca}}</td>
								<td>{{item.obj.cultiu}}</td>
								<td>{{item.obj.plaga}}</td>
								<td>{{item.obj.superf}}</td>
								<td>{{item.obj.payes}}</td>
								<td>{{item.obj.apero}}</td>
								<td>{{item.obj.quant}}</td>
								<td>{{item.obj.prod.nombre}}</td>
								<td>{{item.obj.prod.regist}}</td>
								<td>{{item.obj.prod.dosis}}</td>
								<td>{{item.obj.eficac}}</td>
								<td style="text-align: right;">
									<button class="btn btn-edit" v-on:click.stop="editReg(item.id0)"><i class="fa fa-pencil"></i></button>
								</td>
							</tr>
						</table>
					</div> <!-- #Reg04 -->
				</div> <!-- panel Reg04 -->

		    <div id="tabReg05" class="tab-pane fade">
					<div id="h3Reg05">
						<h4  style="display:inline-block">5. Registre d’altres tractaments fitosanitaris.</h3>
					</div>
					<div id="divReg05A" >
						<span>A - Registre d'ús de llavor tractada</span>
						<table v-if="items.length > 0" class="table table-bordered">
							<thead>
								<tr>
 									<th rowspan="2" style="width:5%"  class="text-center">Data o període</th>
									<th rowspan="2" style="width:5%"  class="text-center">Número de finca</th>
									<th rowspan="2" style="width:25%"  class="text-center">Cultiu<br>(Espècie i varietat)</th>
									<th rowspan="2" style="width:5%"  class="text-center">Superfície sembrada (ha)</th>
									<th rowspan="2" style="width:5%"  class="text-center">Quantitat de llavor</th>
									<th colspan="2" scope="colgroup" class="text-center">Producte fitosanitari</th>
									<th rowspan="2" style="width:5%"  class="text-center">
						<button @click="addReg()" class="btn btn-success pull-right btn-mas"><i class="fa fa-plus"> </i></button>
									</th>
								</tr>

								<tr>
									<th style="width:25%"  class="text-center">Nom comercial i matèria activa</th>
									<th style="width:5%"  class="text-center">Núm. de registre</th>

								</tr>
							</thead>
							<tr v-for="item in items" >
								<!-- td>{{item.tag}}</td -->
								<td>{{item.obj.fecha}}</td>
								<td>{{item.obj.finca}}</td>
								<td>{{item.obj.cultiu}}</td>
								<td>{{item.obj.superf}}</td>
								<td>{{item.obj.quant}}</td>
								<td>{{item.obj.prod.nombre}}</td>
								<td>{{item.obj.prod.regist}}</td>
								<td style="text-align: right;">
									<button class="btn btn-edit" v-on:click.stop="editReg(item.id0)"><i class="fa fa-pencil"></i></button>
								</td>
							</tr>
						</table>
					</div> <!-- #Reg05A -->

					<div id="divReg05B" >
						<span>B - Registre de tractaments postcollita / en locals d'emmagatzematge / en els mitjans de transport</span>
						<table v-if="items.length > 0" class="table table-bordered">
							<thead>
								<tr>
 									<th rowspan="2" style="width:5%"  class="text-center">Data del tractament</th>
									<th rowspan="2" style="width:25%"  class="text-center">Producte vegetal tractat (espècie i varietat) Local tractat /tipus i direcció) Vehicle tractat (tipus, model i matrícula)</th>
									<th rowspan="2" style="width:15%"  class="text-center">Problemàtica fitosanitària</th>
									<th rowspan="2" style="width:5%"  class="text-center">Quantitat (Tm) o volum (m3) tractat</th>
									<th colspan="3" scope="colgroup" class="text-center">Producte fitosanitari</th>
									<th rowspan="2" style="width:5%"  class="text-center">
						<button @click="addReg()" class="btn btn-success pull-right btn-mas"><i class="fa fa-plus"> </i></button>
									</th>
								</tr>

								<tr>
									<th style="width:25%"  class="text-center">Nom comercial i matèria activa</th>
									<th style="width:5%"  class="text-center">Núm. de registre</th>
									<th style="width:5%"  class="text-center">Quantitat utilitzada</th>

								</tr>
							</thead>
							<tr v-for="item in items" >
								<!-- td>{{item.tag}}</td -->
								<td>{{item.obj.fecha}}</td>

								<td v-if="item.obj.tipo === 'CULT'">{{item.obj.cultiu.espec}} {{item.obj.cultiu.varied}}</td>
								<td v-else-if="item.obj.tipo === 'LOCAL'">{{item.obj.local.tipo}} {{item.obj.local.direcc}}</td>
								<td v-else-if="item.obj.tipo === 'VEHIC'">{{item.obj.vehic.tipo}} {{item.obj.vehic.model}} {{item.obj.vehic.matric}}</td>
								<td v-else></td>


								<td>{{item.obj.probl}}</td>
								<td>{{item.obj.quant}}</td>
								<td>{{item.obj.prod.nombre}}</td>
								<td>{{item.obj.prod.regist}}</td>
								<td>{{item.obj.prod.quant}}</td>
								<td style="text-align: right;">
									<button class="btn btn-edit" v-on:click.stop="editReg(item.id0)"><i class="fa fa-pencil"></i></button>
								</td>
							</tr>
						</table>
					</div> <!-- #Reg05B -->
				</div> <!-- panel Reg05 -->

		    <div id="tabReg06" class="tab-pane fade">
					<div id="h3Reg06">
						<h4  style="display:inline-block">6. Registre d’anàlisi de residus de productes fitosanitaris.</h3>
					</div>
					<div id="divReg06" >
						<table v-if="items.length > 0" class="table table-bordered">
							<thead>
								<tr>
 									<th style="width:5%"  class="text-center">Data del mostreig</th>
									<th style="width:25%"  class="text-center">Cultiu o collita mostrejada</th>
									<th style="width:35%"  class="text-center">Substàncies actives detectades i quantificació</th>
									<th style="width:30%"  class="text-center">Referència del bulletí d'anàlisi i laboratori que l'ha realitzat</th>
									<th style="width:5%"  class="text-center">
						<button @click="addReg()" class="btn btn-success pull-right btn-mas"><i class="fa fa-plus"> </i></button>
									</th>
								</tr>
							</thead>
							<tr v-for="item in items" >
								<!-- td>{{item.tag}}</td -->
								<td>{{item.obj.fecha}}</td>
								<td>{{item.obj.cultiu}}</td>
								<td>{{item.obj.sustAct}} {{item.obj.quant}}</td>
								<td>{{item.obj.refer.boletin}} {{item.obj.refer.laborat}}</td>
								<td style="text-align: right;">
									<button class="btn btn-edit" v-on:click.stop="editReg(item.id0)"><i class="fa fa-pencil"></i></button>
								</td>
							</tr>
						</table>
					</div> <!-- #Reg06 -->
				</div> <!-- panel Reg06 -->

		    <div id="tabReg07" class="tab-pane fade">
					<div id="h3Reg07">
						<h4  style="display:inline-block">7. Registre de compra de matèries primeres.</h3>
					</div>
					<div id="divReg07" >
						<table v-if="items.length > 0" class="table table-bordered">
							<thead>
								<tr>
 									<th style="width:5%"  class="text-center">Data</th>
									<th style="width:25%"  class="text-center">Producte</th>
									<th style="width:20%"  class="text-center">Qualificació</th>
									<th style="width:5%"  class="text-center">Quantitat (kg o l)</th>
									<th style="width:35%"  class="text-center">Proveïdor</th>
									<th style="width:5%"  class="text-center">Núm. albarà</th>
									<th style="width:5%"  class="text-center">
						<button @click="addReg()" class="btn btn-success pull-right btn-mas"><i class="fa fa-plus"> </i></button>
									</th>
								</tr>
							</thead>
							<tr v-for="item in items" >
								<!-- td>{{item.tag}}</td -->
								<td>{{item.obj.fecha}}</td>
								<td>{{item.obj.produc}}</td>
								<td>
									ECO: <span v-if="item.obj.qualif.eco"><b>X</b></span><span v-else>&nbsp;</span>
									CVL: <span v-if="item.obj.qualif.cvl"><b>X</b></span><span v-else>&nbsp;</span>
									AUT: <span v-if="item.obj.qualif.aut"><b>X</b></span><span v-else>&nbsp;</span>
								</td>
								<td>{{item.obj.quantt}}</td>
								<td>{{item.obj.provee.nom}} {{item.obj.provee.numOp}}</td>
								<td>{{item.obj.albara}}</td>
								<td style="text-align: right;">
									<button class="btn btn-edit" v-on:click.stop="editReg(item.id0)"><i class="fa fa-pencil"></i></button>
								</td>
							</tr>
						</table>
					</div> <!-- #Reg07 -->
				</div> <!-- panel Reg07 -->

		    <div id="tabReg08" class="tab-pane fade">
					<div id="h3Reg08">
						<h4  style="display:inline-block">8. Registre de venda de productes.</h3>
					</div>
					<div id="divReg08" >
						<table v-if="items.length > 0" class="table table-bordered">
							<thead>
								<tr>
									<th colspan="2" scope="colgroup" class="text-center">Albarà</th>
 									<th rowspan="2" style="width:25%"  class="text-center">Producte (espècie i varietat)</th>
									<th rowspan="2" style="width:5%"  class="text-center">Quantitat (kg)</th>
									<th rowspan="2" style="width:5%"  class="text-center">Traçabilitat: finca o núm de lot</th>
									<th rowspan="2" style="width:25%"  class="text-center">Qualificació venda:<br>ECO: ecològic<br>CON: en conversió<br>CVL: convencional</th>
									<th rowspan="2" style="width:35%"  class="text-center">Nom / Raó social i adreça del client o receptor</th>
									<th rowspan="2" style="width:5%"  class="text-center">
						<button @click="addReg()" class="btn btn-success pull-right btn-mas"><i class="fa fa-plus"> </i></button>
									</th>
								</tr>

								<tr>
									<th style="width:5%"  class="text-center">Data</th>
									<th style="width:5%"  class="text-center">Núm.</th>

								</tr>
							</thead>
							<tr v-for="item in items" >
								<!-- td>{{item.tag}}</td -->
								<td>{{item.obj.albara.fecha}}</td>
								<td>{{item.obj.albara.num}}</td>
								<td>{{item.obj.produc}}</td>
								<td>{{item.obj.quantt}}</td>
								<td>{{item.obj.trazab}}</td>
								<td>
									ECO: <span v-if="item.obj.qualif.eco"><b>X</b></span><span v-else>&nbsp;</span>
									CON: <span v-if="item.obj.qualif.con"><b>X</b></span><span v-else>&nbsp;</span>
									CVL: <span v-if="item.obj.qualif.cvl"><b>X</b></span><span v-else>&nbsp;</span>
								</td>
								<td>{{item.obj.client.nom}} {{item.obj.client.direcc}}</td>
								<td style="text-align: right;">
									<button class="btn btn-edit" v-on:click.stop="editReg(item.id0)"><i class="fa fa-pencil"></i></button>
								</td>
							</tr>
						</table>
					</div> <!-- #Reg08 -->
				</div> <!-- panel Reg08 -->

		    <div id="tabReg09" class="tab-pane fade">
					<div id="h3Reg09">
						<h4  style="display:inline-block">9. Registre de totals recol·lectats i càlcul de rendiments.</h3>
					</div>
					<div id="divReg09" >
						<table v-if="items.length > 0" class="table table-bordered">
							<thead>
								<tr>
 									<th rowspan="2" style="width:5%"  class="text-center">Campanya</th>
 									<th rowspan="2" style="width:25%"  class="text-center">Producte recol·lectat<br>(espècie i varietat)</th>
									<th colspan="2" scope="colgroup" class="text-center">Període de recol·lecció</th>
									<th rowspan="2" style="width:5%"  class="text-center">Finques recol·lectades</th>
									<th rowspan="2" style="width:5%"  class="text-center">Superfície total (ha) recol·lectada</th>
									<th colspan="3" scope="colgroup" class="text-center">Producció (kg)</th>
									<th rowspan="2" style="width:5%"  class="text-center">Rendiment kg/ha </th>
									<th rowspan="2" style="width:5%"  class="text-center">
						<button @click="addReg()" class="btn btn-success pull-right btn-mas"><i class="fa fa-plus"> </i></button>
									</th>
								</tr>

								<tr>
									<th style="width:5%"  class="text-center">Data inici</th>
									<th style="width:5%"  class="text-center">Data final</th>
									<th style="width:5%"  class="text-center">Venda</th>
									<th style="width:5%"  class="text-center">Autoconsum</th>
									<th style="width:5%"  class="text-center">Total</th>

								</tr>
							</thead>
							<tr v-for="item in items" >
								<!-- td>{{item.tag}}</td -->
								<td>{{''+item.obj.jarAgr.jarI+'-'+item.obj.jarAgr.jarF}}</td>
								<td>{{item.obj.produc}}</td>
								<td>{{item.obj.fechas.fechaI}}</td>
								<td>{{item.obj.fechas.fechaF}}</td>
								<td>{{item.obj.fincas}}</td>
								<td>{{item.obj.superf}}</td>
								<td>{{item.obj.quilos.venta}}</td>
								<td>{{item.obj.quilos.self}}</td>
								<td>{{item.obj.quilos.total}}</td>
								<td>{{item.obj.redmto}}</td>
								<td style="text-align: right;">
									<button class="btn btn-edit" v-on:click.stop="editReg(item.id0)"><i class="fa fa-pencil"></i></button>
								</td>
							</tr>
						</table>
					</div> <!-- #Reg09 -->
				</div> <!-- panel Reg09 -->

		    <div id="tabReg10" class="tab-pane fade">
					<div id="h3Reg10">
						<h4  style="display:inline-block">10. Altres dades i incidències.</h3>
					</div>
					<div id="divReg10A" >
						<table v-if="items.length > 0" class="table table-bordered">
							<thead>
								<tr>
 									<th style="width:70%"  class="text-center">Altres dades d'interès fitosanitari de l'explotació</th>
									<th style="width:25%"  class="text-center">Identificació finques afectades</th>
									<th style="width:5%"  class="text-center"></th>
								</tr>
							</thead>
							<tr v-for="item in items" >
								<!-- td>{{item.tag}}</td -->
								<td>{{item.obj.situac}}</td>
								<td>{{item.obj.fincas}}</td>
								<td style="text-align: right;">
									<button class="btn btn-edit" v-on:click.stop="editReg(item.id0)"><i class="fa fa-pencil"></i></button>
								</td>
							</tr>
						</table>
					</div> <!-- #Reg10A -->

					<div id="divReg10B" >
						<table v-if="items.length > 0" class="table table-bordered">
							<thead>
								<tr>
 									<th style="width:10%"  class="text-center">Data</th>
									<th style="width:85%"  class="text-center">Incidències i observacions</th>
									<th style="width:5%"  class="text-center">
						<button @click="addReg()" class="btn btn-success pull-right btn-mas"><i class="fa fa-plus"> </i></button>
									</th>
								</tr>
							</thead>
							<tr v-for="item in items" >
								<!-- td>{{item.tag}}</td -->
								<td>{{item.obj.fecha}}</td>
								<td>{{item.obj.texto}}</td>
								<td style="text-align: right;">
									<button class="btn btn-edit" v-on:click.stop="editReg(item.id0)"><i class="fa fa-pencil"></i></button>
								</td>
							</tr>
						</table>
					</div> <!-- #Reg10B -->
				</div> <!-- panel Reg10 -->

		    <div id="tabReg11" class="tab-pane fade">
					<div id="h3Reg11">
						<h4  style="display:inline-block">11. Registre de reclamacions de clients.</h3>
					</div>
					<div id="divReg11" >
						<table v-if="items.length > 0" class="table table-bordered">
							<thead>
								<tr>
 									<th style="width:5%"  class="text-center">Número d'ordre</th>
									<th style="width:10%"  class="text-center">Data reclamació</th>
									<th style="width:70%"  class="text-center">Indicar: motiu de la reclamació, dades del client que ha fet la reclamació, mesures aplicades per a la resolució de la reclamació</th>
 									<th style="width:10%"  class="text-center">Data tancament</th>
									<th style="width:5%"  class="text-center">
						<button @click="addReg()" class="btn btn-success pull-right btn-mas"><i class="fa fa-plus"> </i></button>
									</th>
								</tr>
							</thead>
							<tr v-for="item in items" >
								<!-- td>{{item.tag}}</td -->
								<td>{{item.obj.orden}}</td>
								<td>{{item.obj.f_Ini}}</td>

								<td>
									<table>
										<tr><td>Motiu:</td><td style="padding-left:10px">{{item.obj.motiu}}</td></tr>
										<tr><td>Dades client:</td><td  style="padding-left:10px">{{item.obj.quien}}</td></tr>
										<tr><td>Resolució:</td><td style="padding-left:10px">{{item.obj.soluc}}</td></tr>
									</table>
								</td>
								<td>{{item.obj.f_Fin}}</td>
								<td style="text-align: right;">
									<button class="btn btn-edit" v-on:click.stop="editReg(item.id0)"><i class="fa fa-pencil"></i></button>
								</td>
							</tr>
						</table>
					</div> <!-- #Reg11 -->
				</div> <!-- panel Reg11 -->


			</div> <!-- Tab content -->

		</div> <!-- md12 -->
		</div> <!-- row -->
	</div> <!-- container -->

	<!-- appModal -->
	<div id="appModal">
		<modal v-bind:clase="modo" v-if="show" @close="show = false" @graba="graba()" @borra="borra()">

		<h3 v-if="edit_t === 'USER'" slot="header">Usuario</h3>
		<h3 v-else-if="edit_t === 'LISTA'" slot="header">Llista quaderns</h3>
		<h3 v-else-if="edit_t === 'TITULAR'" slot="header">Titular</h3>
		<h3 v-else-if="edit_t === 'ASSESOR'" slot="header">Assesor</h3>
		<h3 v-else-if="edit_t === 'REG01A'" slot="header">Personal propi</h3>
		<h3 v-else-if="edit_t === 'REG01B'" slot="header">Personal contr.</h3>
		<h3 v-else-if="edit_t === 'REG01C'" slot="header">Empresa serveis</h3>
		<h3 v-else-if="edit_t === 'REG01D'" slot="header">Maq. propia</h3>
		<h3 v-else-if="edit_t === 'REG01E'" slot="header">Maq. llogada</h3>
		<h3 v-else-if="edit_t === 'REG02'" slot="header">Parcel·la</h3>
		<h3 v-else-if="edit_t === 'REG03'" slot="header">Treball</h3>
		<h3 v-else-if="edit_t === 'REG04'" slot="header">Tractament</h3>
		<h3 v-else-if="edit_t === 'REG05A'" slot="header">Llavor tract.</h3>
		<h3 v-else-if="edit_t === 'REG05B'" slot="header">Tract post-collita</h3>
		<h3 v-else-if="edit_t === 'REG06'" slot="header">Anàlisi residus</h3>
		<h3 v-else-if="edit_t === 'REG07'" slot="header">Compra</h3>
		<h3 v-else-if="edit_t === 'REG08'" slot="header">Venda</h3>
		<h3 v-else-if="edit_t === 'REG09'" slot="header">Total/Rendim</h3>
		<h3 v-else-if="edit_t === 'REG10A'" slot="header">Altres</h3>
		<h3 v-else-if="edit_t === 'REG10B'" slot="header">Incidència</h3>
		<h3 v-else-if="edit_t === 'REG11'" slot="header">Reclamació</h3>
		<h3 v-else slot="header">Tipus desconegut</h3>

		<div slot="body">
			<form	v-if="edit_t === 'USER'" class="form" action="javascript:grabaNuevoUser()">
				<input v-model="user._id" type="hidden" name="_id">
				<input v-model="user.id0" type="hidden" name="id0">
				<input v-model="user.md5" type="hidden" name="md5">
				<input class="form-control" v-model="user.usr" type="text" name="usr"	placeholder="Usuario">
				<input class="form-control" v-model="user.pwd" type="text" name="pwd" placeholder="Password">
				<input class="form-control" v-model="user.conf" type="text" name="conf" placeholder="Confirmación">
				<input class="form-control" type="submit" value="Grabar">
			</form>

			<form	v-else-if="edit_t === 'LISTA'" class="form" action="javascript:carga1Quadern()">
				<select size="8" class="form-control" @change="handleChange">
					<option v-for="item in items" :value="item._id">{{ item.meta.tag }}</option>
				</select>
				<input class="form-control" type="submit" value="Carregar quadern">
			</form>

			<form	v-else-if="edit_t === 'TITULAR'" class="form" action="#">
				<input class="form-control" v-model="item.obj.nom" type="text" name="nom"	placeholder="Nom">
				<input class="form-control" v-model="item.obj.nif" type="text" name="nif"	placeholder="NIF">
				<input class="form-control" v-model="item.obj.reg" type="text" name="reg" placeholder="Registre">
			</form>

			<form	v-else-if="edit_t === 'ASSESOR'" class="form" action="#">
				<input class="form-control" v-model="item.obj.nom" type="text" name="orden"	placeholder="Nom">
				<input class="form-control" v-model="item.obj.nif" type="text" name="nif"	placeholder="NIF">
				<input class="form-control" v-model="item.obj.reg" type="text" name="reg" placeholder="Registre">
			</form>

			<form	v-else-if="edit_t === 'REG01A'" class="form" action="#">
				<input class="form-control" v-model="item.obj.orden" type="text" name="orden"	placeholder="Num ordre">
				<input class="form-control" v-model="item.obj.nombre" type="text" name="nom"	placeholder="Nom">
				<input class="form-control" v-model="item.obj.nif" type="text" name="nif"	placeholder="NIF">
				<input class="form-control" v-model="item.obj.carnet" type="text" name="reg" placeholder="Carnet">
				<input class="form-control" v-model="item.obj.nivel" type="text" name="reg" placeholder="Nivell">
			</form>

			<form	v-else-if="edit_t === 'REG01B'" class="form" action="#">
				<input class="form-control" v-model="item.obj.orden" type="text" name="orden"	placeholder="Num ordre">
				<input class="form-control" v-model="item.obj.nombre" type="text" name="nom"	placeholder="Nom">
				<input class="form-control" v-model="item.obj.nif" type="text" name="nif"	placeholder="NIF">
				<input class="form-control" v-model="item.obj.carnet" type="text" name="reg" placeholder="Carnet">
				<input class="form-control" v-model="item.obj.nivel" type="text" name="reg" placeholder="Nivell">
			</form>

			<form	v-else-if="edit_t === 'REG01C'" class="form" action="#">
				<input class="form-control" v-model="item.obj.orden" type="text" name="orden"	placeholder="Num ordre">
				<input class="form-control" v-model="item.obj.nombre" type="text" name="nom"	placeholder="Nom">
				<input class="form-control" v-model="item.obj.nif" type="text" name="nif"	placeholder="NIF">
				<input class="form-control" v-model="item.obj.carnet" type="text" name="reg" placeholder="Carnet">
				<input class="form-control" v-model="item.obj.nivel" type="text" name="reg" placeholder="Nivell">
			</form>

			<form	v-else-if="edit_t === 'REG01D'" class="form" action="#">
				<input class="form-control" v-model="item.obj.orden" type="text" name="nom"	placeholder="Num ordre">
				<input class="form-control" v-model="item.obj.tipus" type="text" name="tipus"	placeholder="Tipus">
				<input class="form-control" v-model="item.obj.fecha" type="text" name="nif"	placeholder="Data adqis.">
				<input class="form-control" v-model="item.obj.nROMA" type="text" name="reg" placeholder="Reg ROMA">
				<input class="form-control" v-model="item.obj.fInsp" type="text" name="insp" placeholder="Data darr. inspecc">
			</form>

			<form	v-else-if="edit_t === 'REG01E'" class="form" action="#">
				<input class="form-control" v-model="item.obj.orden" type="text" name="nom"	placeholder="Num ordre">
				<input class="form-control" v-model="item.obj.tipus" type="text" name="tipus"	placeholder="Tipus">
				<input class="form-control" v-model="item.obj.fecha" type="text" name="nif"	placeholder="Data adqis.">
				<input class="form-control" v-model="item.obj.nROMA" type="text" name="reg" placeholder="Reg ROMA">
				<input class="form-control" v-model="item.obj.fInsp" type="text" name="insp" placeholder="Data darr. inspecc">
			</form>

			<form	v-else-if="edit_t === 'REG02'" class="form" action="#">
				<input class="form-control" v-model="item.obj.orden" type="text" name="orden"	placeholder="Num ordre">
				<input class="form-control" v-model="item.obj.finca" type="text" name="finca"	placeholder="Finca">
				<input class="form-control" v-model="item.obj.sigpac.munic" type="text" name="munic" placeholder="Sigpac: Municipi">
				<input class="form-control" v-model="item.obj.sigpac.polig" type="text" name="polig" placeholder="Sigpac: Poligon">
				<input class="form-control" v-model="item.obj.sigpac.parce" type="text" name="munic" placeholder="Sigpac: Parcel·la">
				<input class="form-control" v-model="item.obj.sigpac.recin" type="text" name="recin" placeholder="Sigpac: recinte">
				<input class="form-control" v-model="item.obj.sigpac.uso" type="text" name="uso"	placeholder="Sigpac: Ús">
				<input class="form-control" v-model="item.obj.cultiu" type="text" name="cultiu" placeholder="Cultiu">
				<input class="form-control" v-model="item.obj.superf" type="text" name="superf" placeholder="Superficie">
				<input class="form-control" v-model="item.obj.sistem.s31" type="text" name="sys31" placeholder="Sistema (3.1)">
				<input class="form-control" v-model="item.obj.sistem.s32" type="text" name="sys32" placeholder="Sistema (3.2)">
				<input class="form-control" v-model="item.obj.vinya" type="text" name="vinya" placeholder="Vinya (S/N)">
			</form>

			<form	v-else-if="edit_t === 'REG03'" class="form" action="#">
				<input class="form-control" v-model="item.obj.fecha" type="text" name="fecha"	placeholder="Data">
				<input class="form-control" v-model="item.obj.finca" type="text" name="finca"	placeholder="Finca">
				<input class="form-control" v-model="item.obj.cultiu" type="text" name="cultiu" placeholder="Cultiu">
				<input class="form-control" v-model="item.obj.superf" type="text" name="superf" placeholder="Superficie">
				<input class="form-control" v-model="item.obj.tareas" type="text" name="tareas" placeholder="Treballs">
				<input class="form-control" v-model="item.obj.adobat.nombre" type="text" name="reg" placeholder="Adobat (nom)">
				<input class="form-control" v-model="item.obj.adobat.compos" type="text" name="reg" placeholder="Adobat (compos)">
				<input class="form-control" v-model="item.obj.adobat.cantid" type="text" name="reg" placeholder="Adobat (quant)">
				<input class="form-control" v-model="item.obj.adobat.fertirr" type="text" name="reg" placeholder="Adobat (fert)">
			</form>

			<form	v-else-if="edit_t === 'REG04'" class="form" action="#">
				<input class="form-control" v-model="item.obj.fecha" type="text" name="fecha"	placeholder="Data">
				<input class="form-control" v-model="item.obj.finca" type="text" name="finca"	placeholder="Finca">
				<input class="form-control" v-model="item.obj.cultiu" type="text" name="cultiu" placeholder="Cultiu">
				<input class="form-control" v-model="item.obj.plaga" type="text" name="plaga" placeholder="Plaga">
				<input class="form-control" v-model="item.obj.superf" type="text" name="superf" placeholder="Superficie">
				<input class="form-control" v-model="item.obj.payes" type="text" name="payes" placeholder="Aplicador">
				<input class="form-control" v-model="item.obj.apero" type="text" name="apero" placeholder="Màquina">
				<input class="form-control" v-model="item.obj.quant" type="text" name="quant" placeholder="Quantitat">
				<input class="form-control" v-model="item.obj.prod.nombre" type="text" name="reg" placeholder="Producte (nom)">
				<input class="form-control" v-model="item.obj.prod.regist" type="text" name="reg" placeholder="Producte (registre)">
				<input class="form-control" v-model="item.obj.prod.dosis" type="text" name="reg" placeholder="Producte (dosi)">
				<input class="form-control" v-model="item.obj.eficac" type="text" name="eficac" placeholder="Eficacia">
			</form>

			<form	v-else-if="edit_t === 'REG05A'" class="form" action="#">
				<input class="form-control" v-model="item.obj.fecha" type="text" name="fecha"	placeholder="Data">
				<input class="form-control" v-model="item.obj.finca" type="text" name="finca"	placeholder="Finca">
				<input class="form-control" v-model="item.obj.cultiu" type="text" name="cultiu" placeholder="Cultiu">
				<input class="form-control" v-model="item.obj.superf" type="text" name="superf" placeholder="Superficie">
				<input class="form-control" v-model="item.obj.payes" type="text" name="payes" placeholder="Aplicador">
				<input class="form-control" v-model="item.obj.apero" type="text" name="apero" placeholder="Màquina">
				<input class="form-control" v-model="item.obj.quant" type="text" name="quant" placeholder="Quantitat">
				<input class="form-control" v-model="item.obj.prod.nombre" type="text" name="reg" placeholder="Producte (nom)">
				<input class="form-control" v-model="item.obj.prod.regist" type="text" name="reg" placeholder="Producte (registre)">
			</form>

			<form	v-else-if="edit_t === 'REG05B'" class="form" action="#">
				<input class="form-control" v-model="item.obj.fecha" type="text" name="fecha"	placeholder="Data">
				<input class="form-control" v-model="item.obj.tipo" type="text" name="tipo"	placeholder="Tipus">
				<input class="form-control" v-model="item.obj.cultiu.espec" type="text" name="espec" placeholder="Cultiu (espec)">
				<input class="form-control" v-model="item.obj.cultiu.varied" type="text" name="varied" placeholder="Cultiu (variet)">
				<input class="form-control" v-model="item.obj.local.tipo" type="text" name="plaga" placeholder="Local (tipus)">
				<input class="form-control" v-model="item.obj.local.direcc" type="text" name="plaga" placeholder="Local(adressa)">
				<input class="form-control" v-model="item.obj.vehic.tipo" type="text" name="superf" placeholder="Vehiculo (tipus)">
				<input class="form-control" v-model="item.obj.vehic.model" type="text" name="superf" placeholder="Vehiculo (model)">
				<input class="form-control" v-model="item.obj.vehic.matric" type="text" name="superf" placeholder="Vehiculo (matric)">
				<input class="form-control" v-model="item.obj.probl" type="text" name="payes" placeholder="Problema">
				<input class="form-control" v-model="item.obj.quant" type="text" name="reg" placeholder="Quantitat">
				<input class="form-control" v-model="item.obj.prod.nombre" type="text" name="reg" placeholder="Producte (nom)">
				<input class="form-control" v-model="item.obj.prod.regist" type="text" name="reg" placeholder="Producte (registre)">
				<input class="form-control" v-model="item.obj.prod.quant" type="text" name="reg" placeholder="Producte (dosi)">
			</form>

			<form	v-else-if="edit_t === 'REG06'" class="form" action="#">
				<input class="form-control" v-model="item.obj.fecha" type="text" name="fecha"	placeholder="Data">
				<input class="form-control" v-model="item.obj.cultiu" type="text" name="espec" placeholder="Cultiu">
				<input class="form-control" v-model="item.obj.sustAct" type="text" name="varied" placeholder="Sust activa">
				<input class="form-control" v-model="item.obj.quant" type="text" name="plaga" placeholder="Quantitat">
				<input class="form-control" v-model="item.obj.refer.boletin" type="text" name="plaga" placeholder="Refer. (bulletí)">
				<input class="form-control" v-model="item.obj.refer.laborat" type="text" name="superf" placeholder="Refer. (laboratori)">
			</form>

			<form	v-else-if="edit_t === 'REG07'" class="form" action="#">
				<input class="form-control" v-model="item.obj.fecha" type="text" name="fecha"	placeholder="Data">
				<input class="form-control" v-model="item.obj.produc" type="text" name="espec" placeholder="Cultiu">
				ECO: <input  v-model="item.obj.qualif.eco" type="checkbox" name="eco">
				CVL: <input  v-model="item.obj.qualif.cvl" type="checkbox" name="cvl">
				AUT: <input  v-model="item.obj.qualif.aut" type="checkbox" name="aut">

				<input class="form-control" v-model="item.obj.quantt" type="text" name="plaga" placeholder="Quantitat">
				<input class="form-control" v-model="item.obj.provee.nom" type="text" name="plaga" placeholder="Proveïdor (nom)">
				<input class="form-control" v-model="item.obj.provee.numOp" type="text" name="superf" placeholder="Proveïdor (num. oper)">
				<input class="form-control" v-model="item.obj.albara" type="text" name="espec" placeholder="Albará">
			</form>

			<form	v-else-if="edit_t === 'REG08'" class="form" action="#">
				<input class="form-control" v-model="item.obj.albara.fecha" type="text" name="espec" placeholder="Albará (data)">
				<input class="form-control" v-model="item.obj.albara.num" type="text" name="espec" placeholder="Albará (núm)">
				<input class="form-control" v-model="item.obj.produc" type="text" name="espec" placeholder="Cultiu">
				<input class="form-control" v-model="item.obj.quantt" type="text" name="plaga" placeholder="Quantitat">
				<input class="form-control" v-model="item.obj.trazab" type="text" name="plaga" placeholder="Finca / Lot">
				ECO: <input  v-model="item.obj.qualif.eco" type="checkbox" name="eco">
				CVL: <input  v-model="item.obj.qualif.con" type="checkbox" name="con">
				AUT: <input  v-model="item.obj.qualif.cvl" type="checkbox" name="cvl">

				<input class="form-control" v-model="item.obj.client.nom" type="text" name="nom" placeholder="Client (nom)">
				<input class="form-control" v-model="item.obj.client.direcc" type="text" name="direcc" placeholder="Client (adressa)">
			</form>

			<form	v-else-if="edit_t === 'REG09'" class="form" action="#">
				<input class="form-control" v-model="item.obj.jarAgr.jarI" type="text" name="jarI"	placeholder="Any ini">
				<input class="form-control" v-model="item.obj.jarAgr.jarF" type="text" name="jarF"	placeholder="Any fin">
				<input class="form-control" v-model="item.obj.produc" type="text" name="espec" placeholder="Cultiu">
				<input class="form-control" v-model="item.obj.fechas.fechaI" type="text" name="fechaI"	placeholder="Data ini">
				<input class="form-control" v-model="item.obj.fechas.fechaF" type="text" name="fechaF"	placeholder="Data fin">
				<input class="form-control" v-model="item.obj.fincas" type="text" name="fincas" placeholder="Finques">
				<input class="form-control" v-model="item.obj.superf" type="text" name="superf" placeholder="Superficie">
				<input class="form-control" v-model="item.obj.quilos.venta" type="text" name="venta" placeholder="Quilos (venda)">
				<input class="form-control" v-model="item.obj.quilos.self" type="text" name="self" placeholder="Quilos (autoconsumo)">
				<input class="form-control" v-model="item.obj.quilos.total" type="text" name="total" placeholder="Quilos (total)">
				<input class="form-control" v-model="item.obj.redmto" type="text" name="redmto" placeholder="Rendimiento">
			</form>

			<form	v-else-if="edit_t === 'REG10A'" class="form" action="#">
				<span><small>{{item.obj.situac}}</small></span>
				<input class="form-control" v-model="item.obj.fincas" type="text" name="fincas" placeholder="Finques">
			</form>

			<form	v-else-if="edit_t === 'REG10B'" class="form" action="#">
				<input class="form-control" v-model="item.obj.fecha" type="text" name="fecha" placeholder="Data">
				<textarea class="form-control" v-model="item.obj.texto" name="texto" placeholder="Incidències i observacions">
				</textarea>
			</form>
			<form	v-else-if="edit_t === 'REG11'" class="form" action="#">
				<input class="form-control" v-model="item.obj.orden" type="text" name="fecha" placeholder="Número d'ordre">
				<input class="form-control" v-model="item.obj.f_Ini" type="text" name="fecha" placeholder="Data reclamació">
				<input class="form-control" v-model="item.obj.motiu" type="text" name="fecha" placeholder="Motiu">
				<input class="form-control" v-model="item.obj.quien" type="text" name="fecha" placeholder="Client">
				<input class="form-control" v-model="item.obj.soluc" type="text" name="fecha" placeholder="Resolució">
				<input class="form-control" v-model="item.obj.f_Fin" type="text" name="fecha" placeholder="Data tancament">
				</textarea>
			</form>


		</div>
		</modal>

	</div> <!-- appEdit -->


</body>
</html>
